body {
    background-color: rgb(207, 207, 207);
}


nav {
    background-color:white;
    height: 50px;
    border-radius: 10px;
}

#logo {
    height: 30px;
    width: 30px;
    float: left;
    padding: 8px;
}

#navs {
    list-style-type: none;
    float:left;
    display: inline;
    margin-left: 700px;
}

a {
    margin-left:10px ;
    text-decoration: none;
    color: black;
    justify-content: end;
}

a:hover {
    color: brown;
    text-decoration: underline;
}


#maindiv {
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    gap: 2%;
    padding: 2%;
    margin: 2%;
    justify-content:left;
    place-content: end space-evenly ;
}

#card {
    background-color: azure;
    height: 250px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 5px black;
    
}

#cardimg {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

#cardbutton {
    background-color:rgb(246, 230, 200);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    box-shadow: 1px 1px 1px black;
}

#cardbutton:hover{
    box-shadow: inset 1px 1px 1px black;
}


#menu {
 height: 20px;
 margin-left: 10px;
 display: none;
}


footer {
    background-color: black;
    height: max-content;
    padding: 4%;
    color: white;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 10%;
}
#head {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer > ul > li {
    list-style-type: none;
    
}
#social> li> img {
    padding: 20px;
    height: 40px;
    width: 40px;
}

#social > li {
    display: inline;
    margin-top: 20px;

}

#social > li > input {
    height: 30px;
    width: 150px;
    border-radius: 5px;
}

#social > li> button {
    width: 60px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
}


@media(max-width:1280px) {

    #navs {
        margin-left: 400px;
    }
    

    
}
@media(max-width:1024px) {

    

    #navs {
        margin-left: 300px;
    }
    #h4 {
        margin-right: 0px;
        padding-left: 150px;
    }

    
 
}
@media(max-width:800px) {

    #logo {
        width: 30px;
    }

    #navs {
        margin-left: 100px;
        font-size: 13px;
    }
   

   
 
 }

@media(max-width:500px){

    nav {
        height: 160px;
    }

    #navs {
        float: left;
        display: flex;
        flex-direction: column;
    
    }

    #logo {
        width: 30px;
        margin-right: 5%;
        padding: 5px;
    }

    #menu {
        display: block;
        padding-top: 20px;
        
    }

    #menu > img {
        height: 20px;
        margin-left: 30px;
    }


}
 

